<?xml version="1.0"?>
<robot name="Logisticus" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Include the required files -->
  <xacro:include filename="$(find description_package)/urdf/xacro/main_body.xacro" />
  
  <!-- Load the required parts -->
  <xacro:main_body x="0.35" y="0.25" z="0.05"/>
</robot>
